*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    width: 100%;
    height: 0.88rem;
    background: linear-gradient(to right,#ff3432,#ff7919);
    text-align: center;
    position: fixed;
    top: 0;
    line-height: 0.44rem;
    z-index: 9;
}
.header .header_w{
    width: 7rem;
    margin: 0 auto;
    position: relative;
}
.title{
    font-size: 0.34rem;
    color: #fff;
}
.butt{
    width: 1.74em;
    height: 0.64rem;
    position: absolute;
    top: 0.12rem;
    right: 0.14rem;
    float: left;
    background: #d66122;
    border-radius: 0.87rem;
}
.butt .round{
    width: 0.87rem;
    height: 0.14rem;
    line-height: 0.24rem;
    margin: 0.22rem 0.25rem;
}
.butt .round .dian{
    width: 0.08rem;
    height: 0.08rem;
    margin-top: 0.02rem;
    background: #fff;
    border-radius: 50%;
    float: left;
}
.butt .round .dian:nth-child(2){
    width: 0.12rem;
    height: 0.12rem;
    margin: 0 0.03rem;
}
.tw{
    width: 0.87rem;
    height: 0.37rem;
    border-left: 0.05rem solid #d88958;
    float: right;
    position: absolute;
    top: 0.12rem;
    right: 0;
}
.tw .wai{
    width: 0.14rem;
    height: 0.14rem;
    margin: 0.1rem 0.3rem 0.14rem 0.18rem;
    border: 0.04rem solid #fff;
    border-radius: 50%;
    position: relative;
}
.tw .wai .small{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0.05rem;
    top: 0.05rem;
}
.cont{
    width: 100%;
    height: 5.19rem;
    margin-top: 0.88rem;
}
.cont .cont_w{
    width: 7rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.cont .cont_w img{
    width: 4.08rem;
    width: 3.60rem;
    float: left;
    margin: 0.4rem 1.46rem 1.19rem;
}
.cont .cont_w p{
    font-size: 0.32rem;
    position: absolute;
    top: 4.46rem;
    left: 2.29rem;
    color: #989898;
}
.mei{
    width: 100%;
    height: 1rem;
    float: left;
    margin-top: 0.2rem;
}
.mei .mei_w{
    width: 7rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 1rem;
}
.mei .mei_w img{
    width: 0.63rem;
    height: 0.63rem;
    padding-top: 0.2rem;
    float: left;
}
.mei .mei_w span{
    font-size: 0.36rem;
    float: left;
    padding-left: 0.2rem;
    color: #989898;
}
.xia{
    width: 100%;
    height: 4.36rem;
    float: left;
    position: relative;
    overflow: hidden;
}
.xia_w{
    width: 7rem;
    height: 100%;
    margin: 0 auto;
}
.xia_w .one{
    width: 2.61rem;
    height: 4.37rem;
    float: left;
    margin-left: 0.2rem;
}
.two{
    float: right;
    width: 1.62rem;
    overflow: S;
    height: 100%;
    position: absolute;
    right: -1.2rem;
    top: 0;
}
.xia_w .one a img{
    width: 2.61rem;
    height: 3.08rem;
    display: block;
    float: left;
}
.xia_w .one h5{
    padding-top: 3.22rem;
    font-size: 0.3rem;
    color: #989898;
}
.xia_w .one .sun{
    height: 0.6rem;
    width: 100%;
    float: left;
    line-height: 0.6rem;
}
.xia_w .one .sun span{
    font-size: 0.32rem;
    float: left;
    color: #ff3931;
}
.sun .po{
    width: 0.6rem;
    height: 0.6rem;
    float: right;
    border-radius: 50%;
    background: #fff;
    line-height: 0.1rem;
    color: #ff3931;
    text-align: center;
    box-shadow: 0 0 1rem 0.1rem #fde3d9;
}


.footer{
    width: 100%;
    height: 0.98rem;
    float: left;
    position: fixed;
    z-index: 9;
    bottom: 0;
    background: #fff;
}
.footer .footer_w{
    width: 7rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.footer_w .item a{
    width: 0.98rem;
    height: 0.98rem;
    display: block;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_w .item{
    width: 0.97rem;
    height: 0.97rem;
    float: left;
}

.footer_w .item .iconfont{
    font-size: 0.4rem;
    color: #989898;
}
.footer_w .item span{
    font-size: 0.16rem;
    color: #989898;
} 