*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    width: 100%;
    height: 0.88rem;
    background: linear-gradient(to right,#ff3432,#ff7919);
    text-align: center;
    position: fixed;
    top: 0;
    line-height: 0.44rem;
    z-index: 9;
}
.header .header_w{
    width: 7rem;
    margin: 0 auto;
    position: relative;
}
.title{
    font-size: 0.34rem;
    color: #fff;
}
.butt{
    width: 1.74em;
    height: 0.64rem;
    position: absolute;
    top: 0.12rem;
    right: 0.14rem;
    float: left;
    background: #d66122;
    border-radius: 0.87rem;
}
.butt .round{
    width: 0.87rem;
    height: 0.14rem;
    line-height: 0.24rem;
    margin: 0.22rem 0.25rem;
}
.butt .round .dian{
    width: 0.08rem;
    height: 0.08rem;
    margin-top: 0.02rem;
    background: #fff;
    border-radius: 50%;
    float: left;
}
.butt .round .dian:nth-child(2){
    width: 0.12rem;
    height: 0.12rem;
    margin: 0 0.03rem;
}
.tw{
    width: 0.87rem;
    height: 0.37rem;
    border-left: 0.05rem solid #d88958;
    float: right;
    position: absolute;
    top: 0.12rem;
    right: 0;
}
.tw .wai{
    width: 0.14rem;
    height: 0.14rem;
    margin: 0.1rem 0.3rem 0.14rem 0.18rem;
    border: 0.04rem solid #fff;
    border-radius: 50%;
    position: relative;
}
.tw .wai .small{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0.05rem;
    top: 0.05rem;
}
.mo{
    width: 100%;
    height: 0.65rem;
    margin-top: 0.88rem;
    float: left;
}
.mo .mo_w{
    width: 7rem;
    height: 100%;
    margin: 0 auto;
    line-height: 0.65rem;
}
.mo_w .dian{
    width: 0.24rem;
    margin-top: 0.2rem;
    float: left;
    height: 0.24rem;
    border-radius: 50%;
    background: #b2b2b2;
    border: 0.01rem solid #f9f9f9;
}
.mo_w h3{
    font-size: 0.32rem;
    float: left;
    color: #ff4f40;
    padding-left: 0.3rem;
}
.ico{
    width: 1.2rem;
    height: 0.32rem;
    float: right;
}
.ico .iconfont{
    width: 0.32rem;
    height: 0.3rem;
    float: left;
    color: #b2b2b2;
}

.ico .cc{
    font-size: 0.28rem;
    float: right;
    color: #b2b2b2;
}

.cont{
    width: 100%;
    height: 2.12rem;
    float: left;
    margin-top: 0.2rem;
}
.cont .cont_w{
    width: 7rem;
    height: 2.12rem;
    margin: 0 auto;
    box-shadow: 0 0 1rem 0.1rem #fde3d9;
    border-radius: 0.1rem;
}
.cont .cont_w .con_l{
    width: 3rem;
    height: 2.12rem;
    float: left;
    position: relative;
}
.con_l .rel{
    width: 0.24rem;
    height: 0.24rem;
    float: left;
    border-radius: 50%;
    position: absolute;
    top: 0.87rem;
    left: 0.38rem;
    background: #b2b2b2;
    border: 0.01rem solid #f9f9f9;
}
.con_l a img{
    width: 1.61rem;
    height: 1.61rem;
    position: absolute;
    display: block;
    top: 0.25rem;
    left: 1.16rem;;
}
.cont .cont_w .con_r{
    width: 4rem;
    height: 2.12rem;
    float: right;
    position: relative;
}
.con_r h5{
    font-size: 0.28rem;
    padding-top: 0.52rem;
    color: #333;
}
.con_r p{
    font-size: 0.24rem;
    padding-top: 0.14rem;
    color: #989898;
}
.go{
    width: 2rem;
    height: 0.35rem;
    margin-top: 0.34rem;
    font-size: 0.26rem;
    color: #ff3931;
}
.go .ll{
    font-size: 0.32rem;
    font-weight: blod;
}
.jia{
    width: 1.16rem;
    height: 0.38rem;
    position: absolute;
    bottom: 0.21rem;
    line-height: 0.38rem;
    text-align: center;
    right: 0.13rem;
}
.jia .itm{
    width: 33.3%;
    height: 100%;
    font-size: 0.3rem;
    float: left;
    border-radius: 50%;
    color: #ff4c45;
    box-shadow: 0 0 2rem 0.1rem #ebbdab;

}
.jia .itm:nth-child(2){
    box-shadow: 0 0 2rem 0.1rem #fff;

}
.total{
    width: 100%;
    height: 0.98rem;
    float: left;
    margin-top: 5rem;
    position: absolute;
    bottom: 0.98rem;
    left: 0;
}
.total .total_w{
    width: 7rem;
    height: 100%;
    margin: 0 auto;
    line-height: 0.89rem;
    text-align: center;
}
.total_w .he{
    width: 2.62rem;
    height: 100%;
    float: left;
}
.total_w .he{
    font-size: 0.36rem;
    color: #989898;
}
.total_w .he .dd{
    font-size: 0.46rem;
}
.total_w .shu{
    width: 2.9rem;
    height: 100%;
    float: right;
    border-radius: 0.45rem;
    background: linear-gradient(to right,#ff3432,#ff7919);
}
.total_w .shu a{
    display: block;
    text-decoration: none;
    font-size: 0.38rem;
    color: #fff;
    text-align: center;
}



.footer{
    width: 100%;
    height: 0.98rem;
    float: left;
    position: fixed;
    z-index: 9;
    bottom: 0;
    background: #fff;
}
.footer .footer_w{
    width: 7rem;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.footer_w .item a{
    width: 0.98rem;
    height: 0.98rem;
    display: block;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_w .item{
    width: 0.97rem;
    height: 0.97rem;
    float: left;
    position: relative;
}

.footer_w .item .iconfont{
    font-size: 0.4rem;
    color: #989898;
}
.footer_w .item span{
    font-size: 0.16rem;
    color: #989898;
} 
.footer_w .item a .er{
    position: absolute;
    top: 0.05rem;
    right: 0.1rem;
    width: 0.3rem;
    height: 0.3rem;
    background: #ff3931;
    color: #fff;
    border-radius: 50%;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.3rem;
}