*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header{
    width: 100%;
    height: 0.88rem;
    background: linear-gradient(to right,#ff3432,#ff7919);
    text-align: center;
    position: fixed;
    top: 0;
    line-height: 0.44rem;
    z-index: 9;
}
.header .header_w{
    width: 7rem;
    margin: 0 auto;
    position: relative;
}
.title{
    font-size: 0.34rem;
    color: #fff;
}
.butt{
    width: 1.74em;
    height: 0.64rem;
    position: absolute;
    top: 0.12rem;
    right: 0.14rem;
    float: left;
    background: #d66122;
    border-radius: 0.87rem;
}
.butt .round{
    width: 0.87rem;
    height: 0.14rem;
    line-height: 0.24rem;
    margin: 0.22rem 0.25rem;
}
.butt .round .dian{
    width: 0.08rem;
    height: 0.08rem;
    margin-top: 0.02rem;
    background: #fff;
    border-radius: 50%;
    float: left;
}
.butt .round .dian:nth-child(2){
    width: 0.12rem;
    height: 0.12rem;
    margin: 0 0.03rem;
}
.tw{
    width: 0.87rem;
    height: 0.37rem;
    border-left: 0.05rem solid #d88958;
    float: right;
    position: absolute;
    top: 0.12rem;
    right: 0;
}
.tw .wai{
    width: 0.14rem;
    height: 0.14rem;
    margin: 0.1rem 0.3rem 0.14rem 0.18rem;
    border: 0.04rem solid #fff;
    border-radius: 50%;
    position: relative;
}
.tw .wai .small{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 0.05rem;
    top: 0.05rem;
}

.succ{
    width: 100%;
    height: 7rem;
    margin-top: 0.88rem;
    float: left;
}
.succ_w{
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
    position: relative;
}
.succ_w .iconfont{
    width: 1.98rem;
    height: 1.98rem;
    font-size: 1.98rem;
    color: #15f860;
    position: absolute;
    top: 1.95rem;
    left: 2.5rem;
}
.succ_w p{
    font-size: 0.32rem;
    color: #616161;
    text-align: center;
    padding-top: 4.51rem;
}
.succ_w span{
    float: left;
    font-size: 0.24rem;
    color: #ff5751;
    line-height: 0.8rem;
}
.sugg{
    width: 100%;
    height: 0.58rem;
    float: left;
    margin-top: 0.8rem;
}
.sugg a{
    font-size: 0.34rem;
    text-align: center;
    line-height: 0.58rem;
    border-radius: 0.29rem;
    display: block;
    width: 2.2rem;
    background: linear-gradient(to right,#ff3432,#ff7919);
    color: #fff;
    float: right;
    height: 100%;
    margin-left: 0.9rem;
    float: left;
}
.sugg .aa{
    background: #e5e5e5;
    color: #fff;
    display: block;
}