.box {
    width: 700px;
    height: 1000px;
    margin: 100px auto;
}

table {
    width: 700px;
    height: auto;
    text-align: center;
}

table td,
table th {
    text-align: center;
}

input {
    border: 0;
}